*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: lightsteelblue;
    font-family: 'Staatliches', cursive;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
    letter-spacing: 4px;
    color: #3C3B6E;
    text-shadow: 2px 3px black;
}
/* 100d5ac0 */

#goAgain{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: 'Staatliches', cursive;
    background-color: rgb(223, 232, 245);
    border: none;
    border-radius: 16px;
    height: 25px;
    width: 350px;
    align-items: center;

}
#afterClick{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#nixon{
    margin-top: 50px;
    width: 1000px;
    height: 70px;
    border-radius: 25px;
    border: none;
    background-color: #bd5965;
    margin-bottom: 25px;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: 2px 3px #100d5ac0;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

#mcgovern{
    width: 1000px;
    height: 70px;
    border-radius: 25px;
    border: none;
    background-color: #bd5965;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: 2px 3px #100d5ac0;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: url(""), pointer;

}
