*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;
    font-family: 'Staatliches', cursive;
}

h1{
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    color: #3C3B6E;
    text-shadow: 1.5px 3px black;
}

#alert {
    height: 60px;
    justify-content: center;
    margin: auto auto;
    width: 800px;
    padding: 0 5px;
    font-size: 20px;
    color: #bd5965;
    background-color: rgb(223, 232, 245);
    border-radius: 5px;
    border: 2px #bd5965 solid;
    display: none;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 120px;
    /* subtract height from the height of the alert and make it margin top */
}

#alert span{
    font-size: 5px;
    justify-content: end;
}
/* 100d5ac0 */

#goAgain {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: 'Staatliches', cursive;
    background-color: rgb(223, 232, 245);
    border: none;
    border-radius: 16px;
    height: 25px;
    width: 350px;
    align-items: center;
    color: #3C3B6E;
}

#afterClick {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#nixon {
    margin-top: 50px;
    width: 1000px;
    height: 70px;
    border-radius: 25px;
    border: none;
    background-color: #bd5965;
    margin-bottom: 25px;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: 2px 3px #100d5ac0;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😊</text></svg>"), pointer;
    
}

#mcgovern {
    width: 1000px;
    height: 70px;
    border-radius: 25px;
    border: none;
    background-color: #bd5965;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: 2px 3px #100d5ac0;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😥</text></svg>"), pointer;
    
}


#spaceSubmit{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: none;
    justify-content: end;
}

#space{
    width: 800px;
    height: 300px;
    background-color: white;
    display: none;
    border: solid 2px #100d5ac0;
    border-radius: 5px;
}

#submitSignature{
    display: flex;
    z-index: 10;
    position: relative;
    right: 35px;
    top: 275px;
}